Source: movai-ign-plugin-spawn-model
Maintainer: Bernardo Dias<bernardo.dias@mov.ai>
Section: unknown
Priority: optional
Build-Depends: unzip, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: movai-ign-plugin-spawn-model
Architecture: all
Depends: ${misc:Depends}
Description: Spawn target object on the scene
