Source: movai-ign-plugin-emergency-button
Maintainer: Filipe Almeida<filipe.almeida@mov.ai>
Section: unknown
Priority: optional
Build-Depends: unzip, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: movai-ign-plugin-emergency-button
Architecture: all
Depends: ${misc:Depends}
Description: Gui plugin used for select a robot model and starts to publish emergency mode message