Source: movai-ign-plugin-world-launcher
Maintainer1: Filipe Almeida<filipe.almeida@mov.ai>
Maintainer2: Mithun Kinarullathil<mithun@mov.ai>
Section: unknown
Priority: optional
Build-Depends: unzip, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: movai-ign-plugin-world-launcher
Architecture: all
Depends: ${misc:Depends} # TODO: What is this?
Description: Gui plugin used for launching ign gazebo worlds (localy and from Fuel repository)