Source: movai-ign-plugin-remove-object
Maintainer: Bernardo Dias<bernardo.dias@mov.ai>
Section: unknown
Priority: optional
Build-Depends: unzip, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: movai-ign-plugin-remove-object
Architecture: all
Depends: ${misc:Depends}
Description: Remove target object from the scene
